<template>
  <view class="box">
    <view class="user">
      <view class="avatar">
        <img :src="userInfo.avatarUrl?userInfo.avatarUrl:''" alt="" />
      </view>
      <view class="url"> {{ userInfo.nickName?userInfo.nickName:'未登录' }} </view>
    </view>
    <view class="size">
      <text class="sizess">绑定手机号后可查看顶点和领取优惠卷，</text>
      <text class="sizes">去绑定</text>
    </view>
    <main>
      <view class="order">
        <view class="ordertop">
          <span class="myorder">我的订单</span>
          <span class="whole">
            <text>查看全部</text>
            <view class="arrow"></view>
          </span>
        </view>
        <view class="orderbody">
          <view class="allorder">
            <img src="../../static/images/icon/toPay.png" alt="" />
            <text> 待支付 </text>
          </view>
          <view class="allorder">
            <img src="../../static/images/icon/toDelivery.png" alt="" />
            <text> 待发货 </text>
          </view>
          <view class="allorder">
            <img src="../../static/images/icon/toTake.png" alt="" />
            <text> 待收货 </text>
          </view>
          <view class="allorder">
            <img src="../../static/images/icon/toComment.png" alt="" />
            <text> 已完成 </text>
          </view>
        </view>
      </view>
      <view class="prod">
        <view class="colitem">
          <view class="num">0</view>
          <view class="tit"> 我的收藏 </view>
        </view>
        <view class="colitem">
          <view class="num">5</view>
          <view class="tit"> 我的消息 </view>
        </view>
        <view class="colitem">
          <view class="num">3</view>
          <view class="tit"> 我的足迹 </view>
        </view>
        <view class="colitem">
          <view class="num">0</view>
          <view class="tit"> 我的积分 </view>
        </view>
      </view>
      <view class="mymenu">
        <view class="memuitem">
          <view class="iname">
            <img src="../../static/images/icon/myAddr.png" alt="" />
            <text> 收货地址 </text>
          </view>
          <view class="arrow"></view>
        </view>
      </view>
    </main>
  </view>
</template>

<script>
import { mapState } from "vuex";
export default {
  data() {
    return {
      // token: uni.getStorageSync('token')||'',
    };
  },
  computed: {
    ...mapState("user", ["userInfo"]),
  },
  created() {
    uni.getStorage({
      key: "token",
      fail(res) {
        uni.navigateTo({
          url:'/pages/login/login'
        });
      },
    });
  },
};
</script>

<style lang="scss" scoped>
.box {
  width: 100%;
  flex: 1;
}
.user {
  width: 100%;
  background: #fff;
  padding: 30rpx 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.url {
  margin-top: 20rpx;
}
.avatar {
  overflow: hidden;
  width: 160rpx;
  height: 160rpx;
  border-radius: 50%;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}
.avatar img {
  width: 100%;
  height: 100%;
}
.picture {
  width: 80px;
  height: 80px;
  background-color: skyblue;
  border-radius: 50%;
  box-shadow: 10px 10px 10px -2px rgba(0, 0, 0, 0.1);
}
.size {
  background: #fff;
  height: 80rpx;
  line-height: 80rpx;
  padding: 0 30rpx;
  border-top: 2rpx solid #f7f7f7;
  border-bottom: 2rpx solid #f7f7f7;
}
.sizes {
  border-radius: 8rpx;
  font-size: 28rpx;
  color: red;
  font-weight: bold;
}
main {
  width: 100%;
  background: #f7f7f7;
  margin-top: 20rpx;
}
.order {
  width: 100%;
  height: 140px;
  background: #fff;
}
.ordertop {
  display: flex;
  justify-content: space-between;
  height: 80rpx;
  line-height: 80rpx;
  font-size: 30rpx;
  border-bottom: 1px solid #f7f7f7;
  padding: 0 30rpx;
}
.myorder {
  font-weight: bold;
}
.whole {
  font-size: 22rpx;
  color: #80848f;
  display: flex;
  align-items: center;
}
.orderbody {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 25rpx;
  height: 160rpx;
}
.allorder {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.allorder img {
  width: 70rpx;
  height: 70rpx;
  margin-bottom: 20rpx;
}
.prod {
  margin-top: 20rpx;
  background: #fff;
  display: flex;
  justify-content: space-around;
  padding: 30rpx 0 10rpx 0;
  font-size: 12px;
}
.num {
  font-size: 16px;
  font-weight: 700;
  color: #3a86b9;
}
.tit {
  line-height: 34px;
}
.colitem {
  text-align: center;
}
.mymenu {
  background-color: #fff;
  margin-top: 20rpx;
}
.memuitem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100rpx;
  border-bottom: 2rpx solid #f7f7f7;
  padding: 0 30rpx;
}
.iname {
  display: flex;
  align-items: center;
}
.iname img {
  width: 50rpx;
  height: 50rpx;
  margin-right: 20rpx;
}
.arrow {
  width: 15rpx;
  height: 15rpx;
  border-top: 2rpx solid #999;
  border-right: 2rpx solid #999;
  transform: rotate(45deg);
  margin-left: 10rpx;
}
.picture img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.sizess {
  font-size: 26rpx;
}
</style>
