<template>
	<view class="uni-box">
		<!-- 搜索 -->
		<view @click="goTosearch" class="search-bar">
			<my-search class="search_mian" :isShow="true"></my-search>
		</view>
		<!-- 轮播 -->
		<view class="uni-margin-wrap">
			<swiper class="swiper" circular :indicator-dots="indicatorDots" :autoplay="autoplay" :interval="interval"
				:duration="duration">
				<swiper-item v-for="(item, index) in imgList" :key="index">
					<image :src="item.imgUrl" mode="heightFix" class="img"></image>
				</swiper-item>
			</swiper>
			<!-- 导航栏 -->
			<view class="uni-grid">
				<view class="icon">
					<image class="images" src="../../static/images/icon/newProd.png" alt="">
						<p>同城帮帮</p>
				</view>
				<view class="icon">
					<image class="images" src="../../static/images/icon/timePrice.png" alt="">
						<p>限时特惠</p>
				</view>
				<view class="icon">
					<image class="images" src="../../static/images/icon/neweveryday.png" alt="">
						<p>每日疯抢</p>
				</view>
			</view>
			<!-- 通知轮播栏 -->
			<view class="message-play">
				<image src="../../static/images/icon/horn.png" class="hornpng">

					<swiper class="swiper-cont" vertical="true" circular :autoplay="autoplay" :duration="1000">
						<swiper-item v-for="item in notice" :key="shopId"
							style="position: absolute; width: 100%; height: 100%; transform: translate(0px, 0%) translateZ(0px);">
							<view class="items">{{item.title}}</view>
						</swiper-item>

					</swiper>
					<image class="arrow" src="../../static/images/icon/more.png" alt="">
			</view>
		</view>
		<view class="up-to-date">
			<view class="title">
				<text>每日上新</text>
				<view class="more-prod-cont">
					<text class="more">查看更多</text>
				</view>
			</view>
			<view class="item-count">
				<view class="show-item" v-for="item in list[0].productDtoList"  @click='gotoDetail(item.prodId)' :key="item.prodId">
					<view class="more-prod-pic">
						<img class="more-pic" :src="item.pic" />
					</view>
					<view class="prod-text-right">
						<view class="prod-text more">{{item.prodName}}</view>
						<view class="prod-info">
							{{item.brief}}
						</view>
						<view class="b-cart">
							<view class="price">
								<text class="symbol">￥</text>
								<text class="big-num">{{item.price}}</text>
							</view>
							<img src="../../static/images/tabbar/basket-sel.png" class="basket-img" alt="">

						</view>
					</view>

				</view>
			</view>
		</view>
		<!-- 商城热卖 -->
		<view class="hot-sale">
			<view class="title">
				<text>商场热卖</text>
				<view class="more-prod-cont" @click="goTohot">
					<text class="mores">更多</text>
					<text class="arrows">
						<image src="../../static/images/icon/more.png" alt="">
					</text>
				</view>
			</view>

			<view class="hotsale-item-cont">
				<view class="prod-items" v-for="item in list[0].productDtoList"  @click='gotoDetail(item.prodId)' :key="item.prodId">
					<view class="hot-imagecont">
						<img class="hotsaleimg" :src="item.pic" />
					</view>
					<view class="hot-text">
						<view class="hotprod-text">
							{{item.prodName}}
						</view>
						<view class="prod-info">
							{{item.brief}}
						</view>
						<view class="prod-text-info">
							<view class="price">
								<text class="symbol">￥</text>
								<text class="big-num">{{item.price}}</text>
							</view>
							<img src="../../static/images/tabbar/basket-sel.png" class="basket-img">
						</view>
					</view>
				</view>
			</view>
		</view>

		<!-- 更多宝贝 -->
		<view class="hot-sale">
			<view class="title">
				<text>更多宝贝</text>
				<view class="more-prod-cont" @click="goTodetail">
					<text class="mores">更多</text>
					<text class="arrows">
						<image src="../../static/images/icon/more.png" alt="">
					</text>
				</view>
			</view>

			<view class="hotsale-item-cont">
				<view class="prod-items" v-for="item in list[1].productDtoList"  @click='gotoDetail(item.prodId)' :key="item.prodId">
					<view class="hot-imagecont">
						<img class="hotsaleimg" :src="item.pic" />
					</view>
					<view class="hot-text">
						<view class="hotprod-text">
							{{item.prodName}}
						</view>
						<view class="prod-info">
							{{item.brief}}
						</view>
						<view class="prod-text-info">
							<view class="price">
								<text class="symbol">￥</text>
								<text class="big-num">{{item.price}}</text>
							</view>
							<img src="../../static/images/tabbar/basket-sel.png" class="basket-img" alt="">
						</view>
					</view>
				</view>
			</view>
		</view>
	</view>
</template>

<script>
	import {
		indexImgs,
		indexlist,
		indexnotice
	} from "@/api/api";
	export default {
		data() {
			return {
				background: ["color1", "color2", "color3"],
				indicatorDots: true,
				autoplay: true,
				interval: 2000,
				duration: 500,
				imgList: [],
				list: [],
				notice: [],
				tagId: 1,
				size: 6,
				pages: 1,
			};
		},
		async created() {
			let res = await indexImgs();
			this.imgList = res;
			this.getinit();
		},
		onPullDownRefresh() {
			console.log('下拉');
			this.tagId = 1;
			this.pages = 1;
			this.size = 6;
			this.list = [];
			this.getinit()
		},
		onReachBottom() {
			this.tagId++;
			if (this.tagId <= this.pages) {
				this.getinit();
			}
			console.log('上拉');
		},

		methods: {
			gotoDetail(id) { //跳详情页
				uni.navigateTo({
					url: "/detailpkg/detail/detail?prodId=" + id,
				});
			},
			goTosearch() {
				//跳搜索
				uni.navigateTo({
					url: "/searchpkg/search/search",
				});
			},
			goTodetail() {
				console.log('111111');
				uni.navigateTo({
					url: '/pages/recommended/recommended'
				})
			},
			goTohot() {
				uni.navigateTo({
					url: '/pages/mall hot buy/mall hot buy'
				})
			},
			async getinit() {
				let res1 = await indexnotice();
				console.log(res1)
				this.notice = res1.records
				let row = await indexlist();
				this.list = this.list.concat(row)
				this.pages = row.pages
				console.log(row, 'row');
			}
		},
	};
</script>

<style lang="scss">
	//首页总盒子
	.uni-box {
		width: 100%;
		height: 100%;
	}

	// 轮播
	.uni-margin-wrap {
		width: 690rpx;
		width: 100%;
		height: 330px;
	}

	.swiper {
		height: 300rpx;
		height: 402rpx;
	}

	.swiper-item {
		display: block;
		height: 402rpx;
		line-height: 402rpx;
		text-align: center;
	}

	.swiper-list {
		margin-top: 40rpx;
		margin-bottom: 0;
	}

	.uni-common-mt {
		margin-top: 60rpx;
		position: relative;
	}

	.info {
		position: absolute;
		right: 20rpx;
	}

	.uni-padding-wrap {
		width: 550rpx;
		padding: 0 100rpx;
	}

	.img {
		width: 100%;
		height: 100%;
	}

	//搜索
	.search-bar {
		width: 100%;
		height: 100rpx;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: #fff;
		border-bottom: 1px solid #f1f1f1;

		.search_mian {
			width: 100%;
			height: 60rpx;

			.search-s {
				width: 100%;
				height: 50px;

				.search-ss {
					width: 95%;
					height: 30px;
					display: flex;
					align-items: center;

					.uni-searchbar__box {
						width: 100%;
						height: 100%;
						border-radius: 50% !important;
					}
				}
			}
		}
	}

	//宫格
	.uni-grid {
		display: flex;
		background: #fff;
		padding-top: 20rpx;
		padding-bottom: 30rpx;
		justify-content: space-between;
	}

	.icon {
		text-align: center;
		width: 25%;
		display: flex;
		flex-direction: column;
		margin: auto;
		align-items: center;
	}

	.icon .images {
		width: 40px;
		height: 40px;
		display: inline-block;
		overflow: hidden;
	}

	//通知栏
	.message-play {
		position: relative;
		height: 90rpx;
		background: #fff;
		margin: auto;
		padding: 0 60rpx 0 100rpx;
		box-sizing: border-box;
		box-shadow: 0 16rpx 32rpx 0 rgba(7, 17, 27, 0.05);
		border: 2rpx solid #fafafa;
	}

	.message-play .hornpng {
		width: 40px;
		height: 20px;
		position: absolute;
		left: 20rpx;
		top: 27rpx;
		margin-right: 8rpx;
	}

	.message-play .swiper-cont {
		height: 90rpx;
		line-height: 90rpx;
	}

	.message-play .swiper-cont .items {
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 1;
		-webkit-box-orient: vertical;
		text-align: left;
		font-size: 26rpx;
		font-weight: bold;
		overflow: hidden;
		will-change: transform;
	}

	.arrow {
		width: 15rpx;
		height: 15rpx;
		border-top: 3rpx solid #686868;
		border-right: 3rpx solid #686868;
		transform: rotate(45deg);
		position: absolute;
		right: 30rpx;
		top: 34rpx;
	}

	//每日上新 
	.up-to-date {
		background-image: #fff;
		background-position: top;
		background-size: 100% 117rpx;
		background-repeat: no-repeat;
		background-color: #fff;
	}

	.up-to-date .title {
		color: #000;
		background: none;
	}

	.title {
		position: relative;
		height: 64rpx;
		line-height: 64rpx;
		font-size: 32rpx;
		padding: 40rpx 0 10rpx 30rpx;
		color: #333;
		background: #fff;
	}

	.title .more-prod-cont {
		color: #999;
		display: inline-block;
		text-align: right;
	}

	.more-prod-cont .more {
		position: absolute;
		right: 30rpx;
		top: 48rpx;
		color: #fff;
		font-size: 24rpx;
		background: #65addf;
		border-radius: 30rpx;
		padding: 0 30rpx;
		height: 44rpx;
		line-height: 44rpx;
	}

	//每日上新列表数据
	.show-item {
		position: relative;
		display: flex;
		padding: 20rpx;
		justify-content: start;
		border-top: 2rpx solid #f4f4f4;
	}

	.more-prod-pic {
		width: 250rpx;
		height: 250rpx;
	}

	.more-prod-pic .more-pic {
		max-width: 100%;
		max-height: 100%;
	}

	.prod-text-right {
		margin-left: 30rpx;
		width: 72%;
		padding-bottom: 10rpx;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.prod-text.more {
		margin: 0;
		font-size: 28rpx;
		overflow: hidden;
		margin-bottom: 20rpx;
		display: -webkit-box;
		word-break: break-all;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
	}

	.prod-info {
		font-size: 22rpx;
		color: #999;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.b-cart {
		margin-top: 30rpx;
	}

	.price {
		font-family: Arial;
		display: inline-block;
		color: #eb2444;
		padding-bottom: 10rpx;
		padding-left: 10rpx;
	}

	.symbol {
		font-size: 24rpx;
	}

	.big-num {
		font-size: 32rpx;
	}

	.b-cart .basket-img {
		width: 50rpx;
		height: 50rpx;
		position: absolute;
		right: 46rpx;
		padding: 8rpx;
	}

	//商城热卖栏
	.more-prod-cont .mores {
		position: absolute;
		right: 30rpx;
		top: 48rpx;
		color: #666;
		font-size: 24rpx;
		padding: 0 20rpx;
		height: 44rpx;
		line-height: 44rpx;
	}

	.arrows {
		width: 15rpx;
		height: 15rpx;
		border-top: 3rpx solid #686868;
		border-right: 3rpx solid #686868;
		transform: rotate(45deg);
		position: absolute;
		right: 30rpx;
		top: 61rpx;
	}

	//商城热买列表数据
	.hotsale-item-cont {
		padding-bottom: 20rpx;
		background: #fff;
		padding-left: 30rpx;
	}

	.prod-items {
		width: 345rpx;
		display: inline-block;
		background: #fff;
		padding-bottom: 20rpx;
		box-sizing: border-box;
		box-shadow: 0rpx 6rpx 8rpx rgba(58, 134, 185, 0.2);
	}

	.prod-items .hot-imagecont {
		font-size: 0;
		text-align: center;
	}

	.prod-items .hot-imagecont .hotsaleimg {
		width: 341rpx;
		height: 341rpx;
	}

	.prod-items .hot-text {
		margin-top: 20rpx;
		padding: 0 10rpx;
	}

	.prod-items .hot-text .hotprod-text {
		font-size: 28rpx;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.prod-items .hot-text .prod-text-info {
		position: relative;
		height: 70rpx;
		line-height: 70rpx;
		font-family: Arial;
	}

	.prod-items .hot-text .prod-text-info .basket-img {
		width: 50rpx;
		height: 50rpx;
		position: absolute;
		right: 0;
		bottom: 7rpx;
		padding: 8rpx;
	}
</style>
