<template>
  <view class="classify">
    <view @click="goTosearch" class="search-bar">
      <my-search class="search_mian" :isShow="true"></my-search>
    </view>
    <view class="main">
      <scroll-view class="left">
        <view
          v-for="(item, index) in list"
          class="menu-item"
          @click="btn(item, index)"
          :key="index"
          :class="i === index ? 'active' : ''"
        >
          {{ item.categoryName }}
        </view>
      </scroll-view>
      <scroll-view class="right">
        <view class="right-s">
          <view class="item-a">
            <image
              class="img"
              mode="widthFix"
              :src="list[i].pic"
              style="height: 72.5229px"
            ></image>
          </view>
          <view class="scroll-s">
            <view
              v-for="(item, index) in recordlist.records"
              :key="index"
              class="show-item"
              @click="gotoDetail(item)"
            >
              <view class="more-prod-pic">
                <image
                  class="more-pic"
                  mode="widthFix"
                  :src="item.pic"
                  style="height: 75px"
                ></image>
              </view>
              <view class="prod-text-right">
                <view class="prod-text more">
                  {{ item.prodName }}
                </view>
                <view class="cate-prod-info">
                  {{ item.brief }}
                </view>
                <view class="prod-price more">
                  <text class="symbol">￥</text>
                  <text class="big-num">{{ item.price }}</text>
                  <text class="small-num">.00</text>
                </view>
              </view>
            </view>
          </view>
        </view>
      </scroll-view>
    </view>
  </view>
</template>

<script>
import { classFiy, reCord } from "../../api/classfiy";
export default {
  data() {
    return {
      list: [],
      recordlist: [],
      i: 0,
      categoryId: 85,
    };
  },
  created() {
    this.getinit();
    this.getreCord(this.categoryId);
  },
  methods: {
    //详情跳转
    gotoDetail(id) {
      //跳详情页
      uni.navigateTo({
        url: "/detailpkg/detail/detail?prodId=" + id,
      });
    },
    //点击切换
    btn(item, index) {
      this.i = index;
      this.categoryId = item.categoryId;
      this.getreCord(item.categoryId);
    },
    //左侧数据
    async getinit() {
      let res = await classFiy();
      this.list = res;
    },
    //右侧数据
    async getreCord() {
      let ress = await reCord(this.categoryId);
      this.recordlist = ress;
    },
    goTosearch() {
      //跳搜索
      uni.navigateTo({
        url: "/searchpkg/search/search",
      });
    },
  },
};
</script>

<style lang="scss" scoped>
.classify {
  width: 100%;
  height: 100%;

  .search-bar {
    width: 100%;
    height: 100rpx;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-bottom: 1px solid #f1f1f1;
    .search_mian {
      width: 100%;
      height: 60rpx;

      .search-s {
        width: 100%;
        height: 50px;

        .search-ss {
          width: 95%;
          height: 30px;
          display: flex;
          align-items: center;

          .uni-searchbar__box {
            width: 100%;
            height: 100%;
            border-radius: 50% !important;
          }
        }
      }
    }
  }

  .main {
    width: 100%;
    height: calc(100% - 102rpx);
    background-color: #fff;
    display: flex;

    .left {
      width: 200rpx;
      height: 100%;
      background-color: #f5f6f7;

      .menu-item {
        line-height: 90rpx;
        height: 90rpx;
        text-align: center;
        border-bottom: 2rpx silid #e3e3e3;
        position: relative;
        color: #777;
        font-size: 28rpx;
      }

      .active {
        color: #eb2444;
        font-weight: bold;
        position: relative;
        background: #fff;
      }

      .active:before {
        position: absolute;
        left: 0;
        content: "";
        width: 8rpx;
        height: 32rpx;
        top: 29rpx;
        background: #eb2444;
        background-image: initial;
        background-position-x: initial;
        background-position-y: initial;
        background-size: initial;
        background-repeat-x: initial;
        background-repeat-y: initial;
        background-attachment: initial;
        background-origin: initial;
        background-clip: initial;
        background-color: rgb(235, 36, 68);
      }
    }

    .right {
      width: calc(100% - 200rpx);
      height: 100%;
      .right-s {
        width: 100%;
        height: 100%;
        overflow-y: auto;
      }

      .item-a {
        margin: 30rpx 20rpx 0;

        .img {
          width: 100%;
        }
      }

      .scroll-s {
        width: 100%;
        height: auto;
        overflow-y: auto;

        .show-item {
          padding: 20rpx 20rpx 20rpx 20rpx;
          display: flex;
          border-bottom: 1px solid #f1f1f1;

          .more-pic {
            width: 140rpx;
            height: 100%;
          }

          .prod-text-right {
            margin-left: 20rpx;
            width: 75%;

            .prod-text.more {
              margin: 0;
              font-size: 28rpx;
              display: -webkit-box;
              word-break: break-all;
              overflow: hidden;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-line-clamp: 1;
              -webkit-box-orient: vertical;
              color: #000;
            }

            .cate-prod-info {
              font-size: 22rpx;
              color: #999;
              margin: 10rpx 0 20rpx 0;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 1;
              overflow: hidden;
            }

            .prod-price.more {
              font-size: 28rpx;
              color: #eb2444;
              font-family: arial;
            }
          }
        }
      }
    }
  }
}
</style>
