<template>
  <view class="search_mian">
    <view class="search" v-if="isShow">
      <image
        class="searchimg"
        src="../../static/images/icon/search.png"
      ></image>
      <text class="searchtext">搜索</text>
    </view>
    <view v-else class="searchs">
      <uni-search-bar
        @confirm="search"
        cancelText="取消"
        :focus="true"
        :value="val"
        @input="input"
        @cancel="cancel"
        @clear="clear"
        class="my-search"
      >
      </uni-search-bar>
    </view>
  </view>
</template>

<script>
export default {
  name: "my-search",
  props: {
    isShow: {
      type: Boolean,
      default: true,
    },
    val: {
      type: String,
      default: "",
    },
  },
  data() {
    return {};
  },
  methods: {
    search({ value }) {
      // console.log("res",value);
      this.$emit("confirm", value);
      // uni.showToast({
      // 	title: '搜索：' + res.value,
      // 	icon: 'none'
      // })
    },
    input(res) {
      console.log("----input:", res);
    },
    clear(res) {
      // uni.showToast({
      // 	title: 'clear事件，清除值为：' + res.value,
      // 	icon: 'none'
      // })
    },
    cancel(res) {
      // uni.showToast({
      // 	title: '点击取消，输入值为：' + res.value,
      // 	icon: 'none'
      // })
    },
  },
};
</script>

<style lang="scss" scoped>
.search_mian {
  width: 100%;
  height: 60rpx;

  .search {
    height: 60rpx;
    width: 90%;
    margin: 0 auto;
    border-radius: 100rpx;
    background-color: #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: center;

    .searchimg {
      width: 32rpx;
      height: 32rpx;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 5px;
    }

    .searchtext {
      width: 40px;
      font-size: 14px;
      color: #888;
    }
  }

  .searchs {
    width: 100%;
    height: 60rpx !important;
    .uni-searchbar__cancel {
      color: red;
    }
  }
}
</style>
