<template>
	<view class="container">
			<view class="prod-items" v-for="item in list" :key="prodId">
				<view class="hot-imagecont">
					<img class="hotsaleimg" :src="item.pic" alt="">
				</view>
				<view class="hot-text">
					<view class="hotprod-text">
						{{item.prodName}}
					</view>
					<view class="prod-text-info">
						<view class="price">
							<text class="symbol">￥</text>
							<text class="big-num">{{item.price}}</text>
						</view>
					</view>
				</view>
			</view>

	</view>
</template>

<script>
	import {indexlastedprodpage} from '@/api/api.js'
	export default {
		data() {
			return {
				list:[],
				tagId:3,
				current:1,
				size:10
			};
		},
		created() {
			this.getinit()
		},
		methods:{
			async getinit(){
				let res=await indexlastedprodpage({
					tagId:this.tagId,
					current:this.current,
					size:this.size
				});
				this.list=res.records
				console.log(res,'res');
			}
		}
	}
</script>

<style lang="scss">
.container {
    height: 100%;
    box-sizing: border-box;
    color: #333;
    font-family: helvetica,'Heiti SC',PingFangSC-Light;
}
.prod-items {
    width: 375rpx;
    float: left;
    background: #fff;
    padding-bottom: 20rpx;
    box-sizing: border-box;
	padding: 20rpx 10rpx 10rpx 20rpx;
}
.hot-imagecont {
    border-radius: 8rpx;
    text-align: center;
    font-size: 0;
}
.hot-imagecont .hotsaleimg {
    width: 345rpx;
    height: 345rpx;
}
.prod-items .hot-text {
    margin-top: 20rpx;
}
.hot-text .hotprod-text {
    height: 76rpx;
    font-size: 28rpx;
    display: -webkit-box;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: #000;
}
.prod-text-info {
    position: relative;
    height: 50rpx;
    line-height: 70rpx;
    font-family: Arial;
}
.prod-items .hot-text .prod-text-info .price {
    color: #eb2444;
}
.symbol {
    font-size: 24rpx;
}
.big-num {
    font-size: 32rpx;
}
</style>
